<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header_wrapper">
            <div class="header_logo">
                <a href="/"><img src="https://spaces-cdn.clipsafari.com/hsp7746xlhae2r7o6d3qvu5y24rh" alt=""></a>
            </div>
            <nav class="nav_menu">
                <ul>
                    <li><a href="/">Hjem</a></li>
                    <li><a href="/users">Brukere</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div id="main_wrapper">
            <h1>Legg til bruker</h1>
            <p>Vennligst fyll ut skjemaet nedenfor for å legge til en ny bruker.</p>
            <form action="/add-user" method="post">
                <label for="firstname">Fornavn:</label>
                <input type="text" id="firstname" name="firstname" required>
                <label for="lastname">Etternavn:</label>
                <input type="text" id="lastname" name="lastname" required>
                <label for="email">E-post:</label>
                <input type="email" id="email" name="email" required>
                <label for="phonenumber">Telefonnummer:</label>
                <input type="text" id="phonenumber" name="phonenumber">
                <label for="password">Passord:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Legg til</button>
            </form>
        </div>
    </main>

</body>
</html>